extends layout.pug
append head
    script(src="/javascripts/feed.js" type="module" defer)

block content
    div(class='main-content-container')
        //div(class='left-bar') Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        h1 Featured Podcasts
        div(id="newPods" class="genre_div")
            each podcast in featuredPods
                a(href=`/podcasts/${podcast.id}` id=`${podcast.title}` class="podcast_div")
                    img(src=`${podcast.image}`, alt="logo", onError="src='/images/logo.png'")
                    h4( class="podcast_name")= podcast.title

                        //- h4(class="avgRating" id=`avg_rating-${podcast.id}`) 
                        //- p(class="podcast_description PodcastId" id=`${podcast.id}`)= podcast.description 
    div(class='middle-ground')
        hr
    .main-content-container        
        .genreList
            h2 Genres
            ul
            for each_Genre in genre_info
                li
                    a(href=`/genres/${each_Genre.id}` class='genreName') #{each_Genre.name}

