extends layout.pug

block content
    h1 The Feed
    div(class='main-content-container') 
        //div(class='left-bar') Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        div(class='center-content') 
            each genre in genres
                h2= genre.name
                div(id=`${genre.name}` class="genre_div" )
                    each podcast in genre.Podcasts
                        div(id=`${podcast.name}` class="podcast_div")
                            a(href=`podcasts/${podcast.id}`)= podcast.name
                            img(src="/images/logo.png", alt="logo")
                            p average rating: ***add stuff
                            p= podcast.description

        div(class='right-bar') 
            h2 Browse by Genre
            div(id="genreList")
                each genre in genres
                    div(class="Genre__List")
                        a(href=`#${genre.name}`)= genre.name


