extends layout.pug
include review-form
append head
   script(src="/javascripts/podcast.js" type="module" defer)

block content
    div(class='main-content-container') 
        h1(id ="innerHeader" class=`${podcast.title}`)= podcast.title
        div(class="img_holder")
            img(src=`${podcast.image}`)

        div(class="pod_description")
            //- h4 Description
            p #{podcast.description}
            h4(class="avgRating" id=`avg_rating-${podcast.id}`)
            div(class = "shelf_btn_container")
                h3(class='userId', id=userId) Add To My Shelf

            div(class="shelf_btn__container"  id=podcast.id)
                each shelf in shelves
                    button(class="shelf_btn" id=`${shelf.id}` type='button' title=`${shelf.title}`)
                        span(id=`${shelf.icon}`)
            div(class="message") 
    div(class='middle-ground')
        hr
    .main-content-container                    
        div(class="portions")
            div(class="pod_episodes")
                h2 Episodes
                each episode in episodes
                    div(class='episode-div')
                        h5=episode.title
                        //- button(type='button' class='descriptionBtn')
                        //-     Show Description
                        //- button(type='button' class='hideDescription hidden')
                        //-     Hide Description    
                        div(class='descriptionDiv')
                            p=episode.description
                        //- a(href=episode.link) Episode Link
                        //- button(class='playerBtn' type='button') Listen
                        //- button(class='hidePlayer hidden' type='button') Hide Player
                        div(class='player')
                            embed(src=episode.audio align="baseline" border="0" width="300" height="55" autostart="false" loop="true" background-color='white')

            +review-form
            h3(class='idgrabber' id=podcast.id)= `What Other People are Saying About`
                aside 
                    em
                        b #{podcast.title}


    .middle-ground 
        hr
    .main-content-container
        div(class='otherPods')
            h2 Other Podcasts like this Podcast
            each podcast in otherPodcasts
                div(class='Genre_Pods')
                    a(href=`/podcasts/${podcast.id}`)= podcast.title

            .message

        script(src="/javascripts/index.js" type="module" defer)
