extends layout.pug
include review-form
append head

   script(src="/javascripts/podcast.js" type="module" defer)

block content
    h1(id ="innerHeader" class=`${podcast.title}`)= podcast.title
    div(class='main-content-container') 
        div(class="img_holder")
            img(src=`${podcast.image}`)
        div(class='center-content')
            div(class="pod_description__container")
                div(class="pod_description")
                    h4 Description
                    p #{podcast.description}
                    a(href=`/podcasts/${podcast.id}/episodes`) Episodes
                    
                div(class="pod_description")
                    h4(class="avgRating" id=`avg_rating-${podcast.id}`)
                div(class = "shelf_btn_container")
                    h3(class='userId', id=userId) Add To My Shelf

                    div(class="shelf_btn"  id=podcast.id)
                        each shelf in shelves
                            button(class="shelf_btn" id=`${shelf.name}` type='button' title=`${shelf.name}`)
                            button(class="shelf_btn" id="Thumbs_Up" type='button' title='Thumbs Up') 👍
                            button(class="shelf_btn" id= "On_My_Radar" type='button' title='On My Radar') 👀
                            button(class="shelf_btn" id="Meh" type='button' title='Meh') 😑
                            button(class="shelf_btn" id="Thumbs_Down" type='button' title='Thumbs Down') 👎

            +review-form
            div(class="reviews")
                h2(class='idgrabber' id=podcast.id)= `What Other People are Saying About`
                    aside 
                        em
                            b #{podcast.title}

                div(id="ReviewDiv")

        //- div(class='right-bar')
        //-     h2 Other Podcasts like this Podcast
        //-     each podcast in otherPodcasts
        //-         div(class='Genre_Pods')
        //-             a(href=`/podcasts/${podcast.id}`)= podcast.title

            .message

        script(src="/javascripts/index.js" type="module" defer)
