extends layout.pug
include shelf

append head
    script(src="/javascripts/shelves.js" type="module" defer)
    script(src="/javascripts/delete_account.js" type="module" defer)
    link(rel='stylesheet' href='/stylesheets/shelves.css')
block content
    //- h1 Your Profile

    .main-content-container
        .left-bar

            .user-stuff
                h2(class='welcome') Welcome, #{name}
                if isDemo
                    p You are not allowed to delete or update the demo users account.
                else
                    h2 #{email}
                    div(class="account")
                        a(href="") Update
                    div(class="account")
                        a(href="" class="delete-account" id=`${theirId}`) Delete Account



        .center-content
            .shelves
                h1(id='your-shelf') Your Shelves
                each shelf in shelves
                    +shelf(shelf)

        .right-bar
            .genres
                h1 Genres
                ul
                for each_Genre in genre_info
                    li
                        a(href=`feed#${each_Genre.name}` class='genreName') #{each_Genre.name}

                .message
