extends layout.pug
include shelf

append head
    script(src="/javascripts/shelves.js" type="module" defer)
    script(src="/javascripts/delete_account.js" type="module" defer)
<<<<<<< HEAD
=======
    link(rel='stylesheet' href='/stylesheets/shelves.css')
    
>>>>>>> main
block content
    //- h1 Your Profile

    .main-content-container
        .left-bar

            .user-stuff
                h2(class='welcome') Welcome, #{name}
                if isDemo
                    p You are not allowed to delete or update the demo users account.
                else
                    h2 #{email}
                    div(class="account")
                        a(href="") Update
                    div(class="account")
                        a(href="" class="delete-account" id=`${theirId}`) Delete Account
                    form(class = "login-Form form" action=`/shelves/${theirId}` method="post")
                        h3 Add a New Shelf
                        div(class="input")
                            label New Shelf Name
                            input(type="text" name="shelfname", placeholder='New Shelf Name')
                        div(class="input")
                            fieldset 
                                legend New Shelf Icon
                                div(class="input radio")
                                    input(type='radio' name="shelficon" id='&#128512;', value='&#128512;')
                                    label(for="&#128512;") &#128512;
                                div(class="input radio")
                                    input(type='radio' name="shelficon" id='&#9749;', value='&#128512;')
                                    label(for="&#9749;") &#9749;
                                div(class="input radio")
                                    input(type='radio' name="shelficon" id='&#127829;', value='&#128512;')
                                    label(for="&#127829	;") &#127829;
                                div(class="input radio")
                                    input(type='radio' name="shelficon" id='&#127909;', value='&#128512;')
                                    label(for="&#127909;") &#127909;
                                div(class="input radio")
                                    input(type='radio' name="shelficon" id='&#127918;', value='&#128512;')
                                    label(for="&#127918;") &#127918;
                                div(class="input radio")
                                    input(type='radio' name="shelficon" id='&#127925;', value='&#128512;')
                                    label(for="&#127925;") &#127925;
                                div(class="input radio")
                                    input(type='radio' name="shelficon" id='&#127942;', value='&#128512;')
                                    label(for="&#127942;") &#127942;
                                div(class="input radio")
                                    input(type='radio' name="shelficon" id='&#128164;', value='&#128512;')
                                    label(for="&#128164;") &#128164;
                                div(class="input radio")
                                    input(type='radio' name="shelficon" id='&#128178;', value='&#128512;')
                                    label(for="&#128178;") &#128178;
                                div(class="input radio")
                                    input(type='radio' name="shelficon" id='&#128293;', value='&#128512;')
                                    label(for="&#128293;") &#128293;
                                div(class="input radio")
                                    input(type='radio' name="shelficon" id='&#128478;', value='&#128512;')
                                    label(for="&#128478;") &#128478;
                                div(class="input radio")
                                    input(type='radio' name="shelficon" id='&#128164;', value='&#128512;')
                                    label(for="&#128164;") &#128514;
                                div(class="input radio")
                                    input(type='radio' name="shelficon" id='&#128525;', value='&#128512;')
                                    label(for="&#128178;") &#128178;
                            input(type="hidden" name="_csrf" value=csrfToken)
                        div(class="submit-button")
                            button(type="button" id="newShelfBtn" class='submit-btn btn') Add new Shelf



        .center-content
            .shelves
                h1(id='your-shelf') Your Shelves
                each shelf in shelves
                    h2=shelf.title
                    +shelf(shelf)

        .right-bar
            .genres
                h1 Genres
                ul
                for each_Genre in genre_info
                    li
                        a(href=`/genres/${each_Genre.id}` class='genreName') #{each_Genre.name}

                .message
