mixin shelf(shelf)
    div(class="Podshelf__container")
        h2=shelf.title
        div(class="shelf-contents")
            each podcast in shelf.podcasts
                a(class="pod-pic" href=`/podcasts/${podcast.id}`)
                    div(class="shelf-item")
                        div(class="pod-name-div")
                            img(src=`${podcast.image}`)
                        div(class='name-and-btn')
                            div
                                span=podcast.title
                            div
                                button(class=`${shelf.id} remove-button` id=`${podcast.id}`) Remove

