mixin shelf(shelf)
    div(class="Podshelf__container")
        div()
        h2=shelf.title
        div(class="shelf-contents")
            each podcast in shelf.podcasts
                a(class="pod-pic" href=`/podcasts/${podcast.id}`)
                    div(class="shelf-item")
                        img(src=`${podcast.image}`)
                        h5=podcast.title
                button(class=`${shelf.id} remove-button` id=`${podcast.id}` type='button') Remove

